<li class="task">
    <input class="complete" type="checkbox" {{#if complete}}checked="checked"{{/if}} />
    <input class="description" type="text" placeholder="Enter task description..." value="{{description}}" />
    <button class="delete-btton" >Delete</button>
</li>